
.wrapper{
    display: flex;
    justify-Content: center;
    align-items: center;
    flex-Direction:column;
}

.center{
    grid-column: 1/2;
    grid-row: 1/2;
}

.grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.top{
    z-index: 20;
}

